
body {
    background-color: #f1f1f1;
}

h1 {
    color: maroon;
    font-family: "Arial Black";
text-align: center;
    margin-top:100px;
}

h2 {
    color: saddlebrown;
   font-family: "lucida Console";
    margin-top: 90px;
    text-decoration: underline;
    text-align: center;
}
 p {
     text-align: center;
     border: 1px solid;
     padding: 10px;
     box-shadow: 5px 10px;
     font-family: "Hiragino Maru Gothic Pro";
 }

 img{
     margin-left:400px;
     height: 500px;
     width: 500px;

 }
.intro {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:indianred;
}

li {
    float: left;
}

li a {
    display: block;
    color:white ;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
 background-color: #111;
}

.active {
    background-color:black;
}
h3{
    text-align: center;
}
